$colors: (
  white: #FFF,
  muted-gray: #838C8D,
  blue: #014983,
  orange: #F2A42C,
  purple: #9650BF,
  mint-green: #58F5A7,
  light-red: #F2726D,
  dark-green: #24A552,
  dark-red: #A51914,
  dark-yellow: #FFBB00,
  light-teal: #46DBD3
);

$configuration-item-height: 20px;
$configuration-item-height-big: 40px;
